{{!-- views/index.hbs --}}

<header>
    <h1> Hobbiton Public Library </h1>
    <nav class = global>
        <a href='index.html'>Home Page</a>
        |
        <a href='patrons.html'>Patrons</a>
        |
        <a href='transactions.html'>Transactions</a>
        |
        <a href='books.html'>Books</a>
        |
        <a href='holds.html'>Holds</a>
        |
        <a href='patron_holds.html'>Patron_Holds</a>
    </nav>
</header>
<h2>Welcome to the Hobbiton Library Database!</h2>
<main>
    <table class="home-table">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 90%;">
        </colgroup>
        <thead>
        <tr>
            <th>Table</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Patrons</td>
                <td>Patron Information</td>
            </tr>
            <tr>
                <td>Transactions</td>
                <td>Tracks checkouts and returns of patrons.</td>
            </tr>
            <tr>
                <td>Books</td>
                <td>A list of our library books. Includes authors, genres, and section where they can be found.</td>
            </tr>
            <tr>
                <td>Holds</td>
                <td>Shows which books are on hold, their queue position, and the patron's preferred notification method.</td>
            </tr>
            <tr>
                <td>Patron-Holds</td>
                <td>Shows which books have holds on them, and which patron has placed each hold.</td>
            </tr>
        </tbody>
    </table>
</main>
