@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


:root {
    --gaia:rgba(9, 87, 57);
    --sage:rgba(161, 240, 200, 0.95);
    --tefiti:rgba(15, 148, 10, 0.911);
    --mist:rgba(189, 215, 245, 0.877);
    --bark:rgba(32, 22, 10, 0.877);
    --autumnFade:rgb(124, 108, 94);
    --dust:rgb(223, 207, 193);
  }


body {       /* Can alternatively define in html {} or :root {} */
background-image: url("images/shire.jpg");
background-position: top left;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: 'Poetsen One', serif;
max-width: 100%;
margin-left: 0px;
}

header {
    margin-bottom:2%;
    padding:.5%;
    text-align: center;
    background: rgba(169, 224, 250, 0.75);
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer{
    clear: both;
    background-color:#1d2c24;
    color: rgb(239, 248, 244);
    text-align: center;
    position:fixed;
    bottom:0px;
    width:100%;
}

h2 {
    text-align: center;
}

/* --------Table-------- */
table {
    width: 80%;
    border: 2px solid var(--bark);
    padding: 5%;
    border-collapse: collapse;
    white-space: nowrap;
}
thead {}
tr th {
    background-color:forestgreen;
    padding:.5%;
    min-width:130px;
    border-bottom:2px solid var(--bark);
    text-align: left;
}
tr td {
    border-bottom:1.5px solid var(--bark);
    border-right:1.5px solid var(--bark);
    padding:.6%;
    min-width:80px;
    background-color: floralwhite;
}
caption {
font-weight: bold;
font-size: 30px;
padding:1%;
}




