@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');



body {       /* Can alternatively define in html {} or :root {} */
background-image: url("images/shire.jpg");
background-position: top left;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: 'Poetsen One', serif;
max-width: 100%;
margin-left: 0px;
}

header {
    margin-bottom:1.5%;
    padding:.5%;
    text-align: center;
    background: rgba(169, 224, 250, 0.75);
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer{
    clear: both;
    background-color:#1d2c24;
    color: rgb(239, 248, 244);
    text-align: center;
    position:fixed;
    bottom:0px;
    width:100%;
}

h2{
    text-align: left;
    background-color: rgb(169, 224, 250, 0.75);
    padding: 1%;
}

/* --------Table-------- */
table {
    width: 80%;
    border: 2px solid rgb(29, 19, 19);
    padding: 5%;
    border-collapse: collapse;
    white-space: nowrap;
}
thead {}
tr th {
    background-color:rgb(32, 109, 32);
    padding:.5%;
    min-width:130px;
    border-bottom:2px solid rgb(29, 19, 19);
    text-align: left;
}
tr td {
    border-bottom:1.5px solid rgb(29, 19, 19);
    border-right:1.5px solid rgb(29, 19, 19);
    padding:.6%;
    background-color: rgb(255, 250, 240, 0.7);
}
td{
    padding: 100%;
}
caption {
font-weight: bold;
font-size: 30px;
padding: 1%;
}
td:nth-child(1){
    text-align: right;
    width: 30px;
  }
.form-cap{
    font-size: 14px;
    font-weight: lighter;
}
.form-table{
    border-collapse:collapse;
    padding: 100%;
    width: auto;
}
.form-table tr td{
    width: auto;
}
.form-table td{
    width: 100%;
    padding: 1%;
    min-width: 170px;
}
.form-table td:nth-child(1){
    text-align: left;
}
.form-table label{
    font-size: 14px;
}
.home-table{
    margin-top: 80px;
}
.home-table td:nth-child(1){
    text-align: left;
}

/*----------Field-----------*/
fieldset{
    width: 500px;
    padding: 20px;
    margin: 100px;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245,.5);
}
legend{
    font-size: 1.2em;
    background-color:rgb(32, 109, 32);
}
button{
    margin: 10px;
    padding: 1%;
    width: 70px;
    border-color: rgb(29, 19, 19);
    border-radius: 8px;
}




