<!-- main.hbs-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Hobbiton Public Library</title>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    </head>
    <body>

        {{{body}}}

    </body>
    <footer>
        <p> &copy; 2024 Gwenn Thompson and Elissa Hada</p>
        <p>Photo by <a href="https://unsplash.com/@thomasschweighofer_?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Thomas Schweighofer</a> on <a href="https://unsplash.com/photos/landscape-photography-of-brown-wooden-house-with-trees-around-5dB9WGpJbFc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
    </footer>
</html>