<header>
    <h1> Hobbiton Public Library </h1>
    <nav class = global>
        <a href='/'>Home Page</a>
        |
        <a href='patrons'>Patrons</a>
        |
        <a href='transactions'>Transactions</a>
        |
        <a href='books'>Books</a>
        |
        <a href='holds'>Holds</a>
        |
        <a href='patron_holds'>Patron_Holds</a>
    </nav>
</header>

<main>
    <table class='main-table' id='patron-holds-table'>
        <caption>
            Patron Holds
        </caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Patron Name</th>
                <th>Book Title</th>
                <th>Date Hold Placed</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr data-value=1>
                <td>1</td>
                <td>Merwig Greenhand</td>
                <td>There and Back Again</td>
                <td>2024-04-02</td>
                <td>
                    <button onclick="deletePatronHold(4)">Delete</button>
                </td>
            </tr>

            <tr data-value=6>
                <td>2</td>
                <td>Erard Swiftfoot</td>
                <td>There and Back Again</td>
                <td>2024-04-03</td>
                <td>
                    <button onclick="deletePatronHold(4)">Delete</button>
                </td>
            </tr>

            <tr data-value=4>
                <td>3</td>
                <td>Merwig Greenhand</td>
                <td>Where the Red Fern Grows</td>
                <td>2024-04-05</td>
                <td>
                    <button onclick="deletePatronHold(4)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<div>
    <form id="add-patron-hold-form" action="/add-patron-hold" method="POST">
        <fieldset>
            <legend>
                ADD PATRON HOLD
            </legend>
            <table class='form-table'>
                <caption class="form-cap">
                    Please fill out the form below
                </caption>
                <tbody>
                    <tr>
                        <td><label for="name">Patron Name:</label></td>
                        <td><input type="text" name ="name" required=""></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="title">Book Title:</label></td>
                        <td><input type="text" name ="book" required=""></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="date">Date Hold Placed:</label></td>
                        <td><input id="date" name="date" type="date" required=""></td>
                        <td>*Required Field</td>
                    </tr>
                </tbody>
            </table>
            <button type="add">Add</button>
        </fieldset>
    </form>
    <form id="add-patron-holds-form" action="/add-patron-holds" method="POST">
        <fieldset>
            <legend>
                UPDATE PATRON HOLD
            </legend>
            <table class='form-table'>
                <caption class="form-cap">
                    Please choose the record you would like to update and enter new information
                </caption>
                <tbody>
                    <tr>
                        <td><label for="patron-hold-select">Select Patron_Hold ID:</label></td>
                        <td>
                            <select id="patron-hold-select" name="patron-hold-select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="name">Patron Name:</label></td>
                        <td><input type="text" name ="name"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="title">Book Title:</label></td>
                        <td><input type="text" name ="book"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="date">Date Hold Placed:</label></td>
                        <td><input id="date" name="date" type="date"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <button type="update">Update</button>
        </fieldset>
    </form>
</div>